.form-group__items {
    padding: 0.3em 3em;
    display: inline-block;
    width: 100%;
}

.form-group_item {
    float: left;
}

.form-group_item_m {
    width: 33%;
    padding: 0.3em 2em;
}

.form-group_item_s {
    width: 25%;
    padding: 0.3em 1em;
}

@media (max-width: 1280px) {
    .form-group__items {
        padding: 0.3em 1em;
    }
    .form-group_item_m {
        width: 50%;
        padding: 0.3em 1em;
    }
    .form-group_item_s {
        width: 33%;
        padding: 0.3em 0.7em;
    }
}

@media (max-width: 768px) {
    .form-group__items {
        padding: 0.3em 0.5em;
    }
    .form-group_item_m {
        width: 100%;
        padding: 0.3em 1em;
    }
    .form-group_item_s {
        width: 50%;
        padding: 0.3em 0.7em;
    }
}

@media (max-width: 550px) {
    .form-group__items {
        padding: 0.3em 0.3em;
    }
    .form-group_item_m {
        padding: 0.1em 0.2em;
    }
    .form-group_item_s {
        width: 100%;
        padding: 0.3em 0.7em;
    }
}